<div class="uk-padding-large uk-child-width-1-1" uk-grid>
    <h3>Tu perfil, {{first_name}}</h3>
    <ul>
        <li>Nombre: {{first_name}} {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Edad: {{age}}</li>
        <li>Rol: {{role}}</li>
    </ul>
</div>